body {
    font-family: "Roboto", "Arial", sans-serif;
    margin-left: 150px;
}

.container{
    margin: 8 auto;
    max-width: 1441px;
}

a{
    text-decoration: none;
    color: #4F5665;
}

li{
    display: block;
}