.flowers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.flower-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.flower-container button{
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.flower-container img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

.flower-container img:hover {
    transform: scale(1.05);
}

.button1 {
    display: flex;
    margin-top: 60px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(231, 180, 247);
}

